<link rel="stylesheet" href="/css/login.css">
<h1>
    Sign In
</h1>

<form action="/users/create-session" method="POST">
    Email <input type="email" name="email" placeholder="Email" required><br><br>
    Password <input type="password" name="password" placeholder="Password" required><br><br>
    <input type="submit" value="Sign In">
</form>