<link rel="stylesheet" href="/css/login.css">
<h1>
    LogIn
</h1>
<form action="/user-login" method="POST">
    Email <input type="email" name="email" placeholder="Email" required><br><br>
    Password <input type="password" placeholder="Password" required><br><br>
    <button>LogIn</button>
</form>